{% extends "Bookings/base.html" %}
{% load static %}
{% block home %}
    <div class="home_background">
        <!-- Background content or overlay here -->
    </div>
    <div class="section section-white">
        Section 1 - White
    </div>
    <div class="section section-gray">
        Section 2 - Gray
    </div>
    <div class="section section-white">
        Section 3 - White
    </div>
    <div class="section section-gray">
        Section 4 - Gray
    </div>
    <div class="section section-white">
        Section 5 - White
    </div>
    <div class="section section-gray">
        Section 6 - Gray
    </div>
{% endblock home %}
