{% extends "Bookings/base.html" %}
{% load static %}

{% block menu %}
<div class="menu-body">
    <div class="container menu-container">
        <div class="menu-header">Menu</div>
        {% for category in categories %}
        <div class="category">
            <div class="category-header">{{ category.name }}</div>
            {% for item in category.items.all %}
            <div class="row item">
                <div class="col item-name">{{ item.name }}</div>
                <div class="col item-price">{{ item.price }}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock menu %}
