{% extends "Bookings/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}

{% block register %}
<div class="container mt-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Reservation</h1>
            <h3 class="text-center mb-4"> For Table {{ table_number }} on {{ date }}</h3>
            <form method="post" class="needs-validation w-70" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
            </form>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{{ image }}" class="img-fluid reservation-image" width="78%" alt="Reservation Image" />
        </div>
    </div>
</div>
{% endblock register %}
