{% extends 'Bookings/base.html' %}
{% load static %}

{% block status_table %}
  <nav class="navb">
    <div class="nav-date">
      <div class="date-box">
        <span class="day">WED</span>
        <span class="date">26</span>
        <span class="month">JUN</span>
      </div>
      <div class="date-box">
        <span class="day">THU</span>
        <span class="date">27</span>
        <span class="month">JUN</span>
      </div>
    </div>
    <div class="nav-controls">
      <div class="nav-control">
        <select>
          <option>Select Timings</option>
          <option>Lunch</option>
          <option>Dinner</option>
        </select>
      </div>
      <div class="nav-control">
        <input type="text" placeholder="Search" />
      </div>
    </div>
  </nav>
  <div class="nav-footer">
    <span class="indicator available">Available</span>
    <span class="indicator fast-filling">Not Available</span>
  </div>
  <div class="container">
    <div class="table-container">
      {% for table in tables %}
        {% if not table.reserved %}
          <a href="{% url 'register' table.id %}">
            <button class="table-status-available">Table {{ table.table_number }}</button>
          </a>
        {% else %}
          <button class="table-status-not-available" disabled>Table {{ table.table_number }}</button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
{% endblock %}
