body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

/* Navigation Bar */
nav {
    background-color: #002B5C;
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

nav .brand {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-comp {
    display: flex;
    gap: 20px;
}

.nav-comp div {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-comp div:hover {
    background-color: #034078;
}

.brand a, .nav-comp a {
    color: white;
    text-decoration: none;
}

.nav-date {
    display: flex;
}

.date-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff5252;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.day, .date, .month {
    display: block;
}

.nav-controls {
    display: flex;
    align-items: center;
}

.nav-control {
    margin-left: 20px;
}

.nav-control select, .nav-control input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
}

.nav-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.indicator {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
}

.indicator.cancellation::before {
    content: '•';
    color: #ffeb3b;
    font-size: 20px;
    margin-right: 5px;
}

.indicator.available::before {
    content: '•';
    color: #4caf50;
    font-size: 20px;
    margin-right: 5px;
}

.indicator.fast-filling::before {
    content: '•';
    color: #f44336;
    font-size: 20px;
    margin-right: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 120px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

/* Available table styling */
.table-status-available {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 120px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #4caf50; /* Green */
}

.table-status-available:hover {
    background-color: #388e3c; /* Darker green */
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Not available table styling */
.table-status-not-available {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 120px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: not-allowed;
    background-color: #f44336; /* Red */
    opacity: 0.6;
}
.table-status-not-available:hover {
    box-shadow: none;
    transform: none;
}

/* Hero Background */
.home_background {
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home_background h1 {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-align: center;
    z-index: 1;
}

.home_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 0;
}

.section {
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
}

.section-white {
    background-color: white;
}

.section-gray {
    background-color: gray;
    color: white;
}

.container-home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 50px;
    background-color: #f7f7f7;
}

.header .highlight {
    color: red;
}

.three-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.column {
    width: 30%;
    text-align: center;
}

.column img {
    width: 100%;
    height: auto;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.chef {
    display: flex;
    align-items: center;
}

.chef img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.news-events {
    background-color: #f7f7f7;
}

.news-events .events {
    display: flex;
    justify-content: space-between;
}

.news-events .event {
    width: 30%;
    text-align: center;
}

.news-events .event .date {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}
